/* paleta de colores a utilizar
    #000957 / rgb(0, 9, 87)
    #344CB7 / rgb(52, 76, 183)
    #577BC1 / rgb(87, 123, 193)
    #FFEB00 / rgb(255, 235, 0) --> */

/* tipografia a utilizar
font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS HEADER */
*{
  margin:0%;
  padding:0%;
}
header {
    background-color: #000957;
   
    }

header img {
    background-color: #000957;
    width: 150px;
    height: auto;
    margin: 2% 2%;
    
    }

.textos-header{
    display: flex;
    align-items: center;
    
    }

.headerboca {
    background-color: #000957;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold;
    padding: 1%;
    line-height: 1.2;
    margin-bottom: 0;
    

           }


.menu-navegacion {
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
padding: 1%;
margin: 1%;
background-color: #000957;
  }

.menu-navegacion li {
  flex: 10px ;
  text-align: center;
}
.menu-navegacion a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  border: white 2px solid;
  margin: 3px;
  }

/* BODY */
body {
    background-color: #000957;
    font-family: "Poppins", sans-serif;
        }


h2 {
    color: white;
    Font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    }
p {
    color: white;
    font-size: 20px;
    font-weight: 200px;
    text-align: justify;
    margin: 20px;
}

/* BODY HOME */
/* section 1 del cuerpo home */

.seccion1cuerpo{
        background-image: url(../medios/imagencentralhome2.png);
        background-position:center ;
        background-size: cover;
        margin: 0;
        border: #000957 12px solid;
        }

.titulo-presentacion{
    color: #000957;
    font-size: 70px;
    text-align: center;
    margin: 2%;

}
.seccion1cuerpo h3{
    color: #000957;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 2%;
}

.texto-bienvenidaweb p{
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 2% 10%;


}

/* section 2 cuerpo home*/

.seccion2cuerpo h3{
    border-top: wheat 5px solid ;
    border-bottom: wheat 5px solid ;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f9d342;
}

.meses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.columna-mes {
  background-color: #577BC1;
  border-radius: 10px;
  padding: 16px;

}

.columna-mes h4 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  border-top: #003366 3px solid;
  color: #003366;
}

.columna-mes ul {
  list-style: none;
  padding: 2px;
  border-radius: 6px;
}

.columna-mes li {
  background: #ffeb00;
  margin: 8px;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  color: #577bc1;
  text-align: justify;

}

/* section 3 cuerpo home*/

.seccion3cuerpo h3 {
    border-top: wheat 5px solid ;
    border-bottom: wheat 5px solid ;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #f9d342;
}
.grid-canal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin: 15px;
}

.video-canal {
  display: grid;
  justify-items: center;
  background: #ffffff;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 5px 25px 5px #577bc1;

}

.video-canal iframe {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: #f9d342 7px solid;
  padding: 5px;
   }

.video-canal h3 {
  font-size: 25px;
  margin-top: 12px;
  color: #003366;
  text-transform: uppercase;
  border-bottom: #003366 4px solid;
  text-align: center;
}

.video-canal p {
  font-size: 20px;
  margin: 0;
  color:#003366;
  text-align: justify;
}

 /* BODY HISTORIA */
/* div historia.html */

.historiabgcolor{
  background-color: #000957;
}
.pagina-historia{
  background-color: #000957;
  
}
.titulohistoriah2 {
  color: #f9d342;
  border-bottom: #f9d342 2px solid;
  padding-bottom: 2%;
  padding-top: 2%;
margin: 15px;
font-size: 68px;
text-align: center;
}

.pagina-historia h3{
color: #f9d342;
border-bottom: #f9d342 2px solid;
padding-bottom: 2%;
padding-top: 2%;
margin: 15px;
font-size: 48px;
text-align: center;
font-weight: bold;
}



.historiasflex{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
 margin-bottom: 20px;
    }

.imagenhistoria{
  width: 280px;
  height: auto;
  border-radius: 6px;
 }

#accordionFlushExample {
  padding: 2% 5%;
}
.accordion-button:not(.collapsed) {
  --bs-accordion-active-bg: #577bc1;
  --bs-accordion-active-color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;

}

.accordion-button.collapsed {
  font-size: 1.5rem;
  font-weight: 600;
  border-top: 2px solid #577bc1;
  border-bottom: 2px solid #577bc1;
  border-left: none;
  border-right: none;
  background-color: #f9d442b6;
  --bs-accordion-btn-color: #000957;
  text-transform: uppercase;

}



.accordion-body h3{
  color: #003366;
  font-size: 36px;
  text-align: center;
  border-bottom: #f9d342 3px solid;

}

.accordion-body p{
  color: #003366;
  font-size: 18px;
  margin: 2% 5%;

}



/* css pagina titulos*/


.titulo-estrellas {
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    border: #003366 10px solid;
    padding: 40px 20px;
    margin: 1%;
    text-transform: uppercase;
    background-color: #003366;
    border-radius: 8px;
    }

    .h3titulos{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    border: #f9d342 5px solid;
    color: #f9d342;
    padding: 1%;
    margin: 1%;
    border-radius: 8px;
        }

.contenedor-principal1 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,auto);
  grid-template-areas: "area1 area2 area3"
    "area4 area5 area6";
  gap: 20px;
  padding: 20px;
  }

.contenedor-principal2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,auto);
  gap: 20px;
  padding: 20px;
}

.contenedor-principal3 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(1,auto);
  gap: 20px;
  padding: 20px;
}

.categoria-titulo{
font-size: 25px;
font-weight: 550;
  text-transform: uppercase;
  margin-top: 2%;
  padding-bottom: 2%;
  color: #f8f9fa;
  text-align: center;
  border-bottom: #f9d342 5px solid;
  }

.totales-titulo{
font-size: 25px;
font-weight: 550;
  margin-top: 2%;
  padding-bottom: 1.5%;
  color: #f8f9fa;
  text-align: center;
  border-bottom: #f9d342 5px solid;
}

.seccion-categoria1 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area1;
  border: #f8f9fa 5px solid;
}
.seccion-categoria2 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area2;
  border: #f8f9fa 5px solid;
}
.seccion-categoria3 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area3;
  border: #f8f9fa 5px solid;
}
.seccion-categoria4 {
 background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area4;
  border: #f8f9fa 5px solid;
}
.seccion-categoria5 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area5;
  border: #f8f9fa 5px solid;
}
.seccion-categoria6 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  grid-area: area6;
  border: #f8f9fa 5px solid;
}
.seccion-categoria7 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  border: #f8f9fa 5px solid;
 }
.seccion-categoria8 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  border: #f8f9fa 5px solid;
   }

.seccion-categoria9 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  border: #f8f9fa 5px solid;
   }
.seccion-categoria10 {
  background-color: #003366;
  opacity: 0.8;
  border-radius: 12px;
  padding: 5px;
  border: #f8f9fa 5px solid;
   }

.lista-titulos {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.lista-titulos li {
  margin-bottom: 6px;
  color: #f8f9fa;
}


/* css pagina hinchada*/

.paginahinchada h2{
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    border: #f9d342 2px solid;
    padding: 40px 20px;
    margin: 0.5%;
    text-transform: uppercase;
    background-color: #003366;
    border-radius: 8px;
    color: #f8f9fa;
    }

 .paginahinchada h3 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    border: #f9d342 2px solid;
    padding: 30px 15px;
    margin: 0.5%;
    text-transform: uppercase;
    background-color: #003366;
    border-radius: 8px;
    color: #f8f9fa;
 }

 .sectionla12{
    margin-left: 10%;
    margin-right: 10%;
 }

 .sectionla12 h3{
    text-align: center;
    margin-top: 3%;
    font-size: 55px;
    color: #f9d342;
     }

.sectionbocaenelmundo{
    margin-left: 10%;
    margin-right: 10%;
}
 .sectionbocaenelmundo h3{
    text-align: center;
    margin-top: 3%;
    font-size: 55px;
    color: #f9d342;
    border-top: #f9d442 5px solid;
 }

 .textoshinchada p{
    text-align: justify;
    font-size: 24px;
    color: #f8f9fa;
         }

.imagenesla12{
margin: 40px auto;
width: 80%;
}

/* CSS pagina ESTADIO */


.seccion-estadio h2{
  color: #f9d342;
  border-bottom: #f9d342 2px solid;
  padding-bottom: 2%;
  padding-top: 2%;
margin: 15px;
font-size: 48px;
text-align: center;
}

.Informacion-especifica {
 background-color: #eaf3ff;
  padding: 5%;
  margin: 5%;
  border-radius: 8px;
  border: #000957 15px double;
  }

.seccion-estadio h3{
  text-align: center;
  color: #577BC1;
  border-bottom: #577BC1 5px solid;
  font-size: 45px;
}

.seccion-estadio p{
  font-size: 20px;
  text-align: justify;
  color: #000957;
  }



.historia-estadio {
  background-color: #eaf3ff;
  padding: 5%;
  margin: 5%;
  border-radius: 8px;
   border: #000957 15px double;
}

.curiosidades-estadio {
background-color: #eaf3ff;
padding: 5%;
margin: 5%;
border-radius: 8px;
 border: #000957 15px double;
  }

  .curiosidades-estadio li{
 font-size: 20px;
  text-align: justify;
list-style-type: circle;

  }

/* footer */

footer {
  background-color: #000957;
  padding: 40px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

footer h3{
    border-top: #577BC1 5px solid ;
    border-bottom: #577BC1 5px solid ;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-top: 45px;
}


.footer-grid-contacto{
display: grid;
grid-template-columns: repeat(2, 1fr);
}


.info-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.info-item p{
    font-size: 20px;
    color: #f8f9fa;
}
.info-item img {
  width: 36px;
  height: 36px;
}

.footer-mapa {
  width: 100%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
}

.redes-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

}

.footer-redes h3 {
    border-top: #577BC1 5px solid ;
    border-bottom: #577BC1 5px solid ;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-top: 45px;
}

.redes-icons img {
  width: 40px;
  }

.footer-copy {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: white;
}

/* mediaQ */
@media (max-width:500px){

  /*media para header  */
  header {
    flex-direction: column;
    text-align: center;
    margin:0;
  }

header img {
  width: 80px;
  height: auto;
  
 
}


.headerboca{
  font-size: 28px;
  text-align: center;
  padding: 1%;

    }

.menu-navegacion {
  flex-direction: column;
  align-items: stretch;
  margin: 0% 1% ;
  padding: 1%;


}

.menu-navegacion a {
  font-size: 12px;
  padding: 0;

}
/* media para seccion1 index */
.titulo-presentacion{
  font-size: 50px;
}
.seccion1cuerpo h3{
  font-size: 30px;
  font-weight: 600;
}

.texto-bienvenidaweb p{
  font-size: 12px;

}

/* media para seccion2 index */
.seccion2cuerpo h3{
  font-size: 25px;
  border-top: wheat 2px solid ;
    border-bottom: wheat 2px solid ;
}
.meses-grid {
  grid-template-columns: repeat(1, 1fr);
  margin: 0%;
  width: 100%;
}
.columna-mes{
  padding: 5px;
}
.columna-mes h4 {
  font-size: 20px;
  margin-top: 5px;
  }
.columna-mes li {
font-size: 12px;
text-align: justify;
}

/* media para seccion3 index */
.seccion3cuerpo h3 {
  font-size: 25px;
  border-top: wheat 2px solid ;
  border-bottom: wheat 2px solid ;
  
}
.grid-canal {
  grid-template-columns: repeat(1, 1fr);

}

.video-canal iframe {
  width: 100%;
  height: 250px;
  padding: 2%;
  border: #f9d342 4px solid;
}
.video-canal h3 {
  font-size: 16px;
  margin-top: 6px;
  text-align: justify;
 }

.video-canal p {
  font-size: 14px;
  margin: 2.5px;
}

/* mediaQ en pagina Historia */
.titulohistoriah2 {
  font-size: 2rem;
  
}

.pagina-historia h3{
  font-size: 2rem;
  
}

.accordion-button:not(.collapsed) {
  font-size: 0.8rem;
}

.accordion-button.collapsed {
font-size: 0.8rem;

}

#accordionFlushExample {
  padding: 1% 3%;
}

.imagenhistoria{
  width: 170px;
 
   }
.accordion-body h3{
font-size: 1.5rem;
   }

.accordion-body p{
font-size: 0.8rem;
   }

   /* mediaQ en pagina Estadio */

   .seccion-estadio h2{
    font-size: 1.5rem;
    border-bottom: #f9d342 1px solid;
   }

   .seccion-estadio h3{
    font-size: 1.5rem;
    border-bottom: #577BC1 2px solid;
   }

 .seccion-estadio p{
  font-size: 14px;
  padding: 0%;
  margin: 1%;
     
 }  
 #palineacion{
  text-align: left;
 }


.curiosidades-estadio li{
  font-size: 14px;

}

.curiosidades-estadio ul{
  margin: 3%;
  padding: 0%;
}

/* mediaQ en Hinchada boca */
.paginahinchada h2{
  font-size: 1.5rem;
  padding: 15px 15px;
  margin: 0% 3%;
}
.paginahinchada h3{
  font-size: 1rem;
  padding: 7.5px 55px;
  margin: 0% 3%;
}
.sectionla12{
    margin-left: 5%;
    margin-right: 5%;
 }
.sectionla12 h3{
  font-size: 20px;
  }
.sectionbocaenelmundo{
    margin-left: 5%;
    margin-right: 5%;
}
 .sectionbocaenelmundo h3{
  font-size: 20px;
   border-top: #f9d442 2px solid;
 }

 .textoshinchada p{
  font-size: 14px;
  }

/* mediaQ pagina titulos */

.titulo-estrellas{
  font-size: 1.5rem;
  margin: 0% 3%;
  padding: 20px 10px;
}

.h3titulos{
  font-size: 20px;
  margin: 3% 3%;
  padding: 1%;
   border: #f9d342 2px solid;
}

.contenedor-principal1 {
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(6,auto);
grid-template-areas: "area1"
"area2"
"area3"
"area4"
"area5"
"area6";
gap: 10px;
}

.contenedor-principal2 {
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 10px;
  padding: 20px;
  margin-top: 0;
  padding-top: 0;

}

.contenedor-principal3 {
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,auto);
  gap: 20px;
  padding: 20px;
}

.seccion-categoria1, .seccion-categoria2, .seccion-categoria3, .seccion-categoria4, .seccion-categoria5, .seccion-categoria6, .seccion-categoria7, .seccion-categoria8, .seccion-categoria9, .seccion-categoria10 {
  border: #f8f9fa 3px solid;
} 
.categoria-titulo{
  font-size: 14px;
  border-bottom: #f9d342 2px solid;
}

.totales-titulo{
  font-size: 18px;
  border-bottom: #f9d342 2px solid;
 
}

.lista-titulos {
  font-size: 14px;
  font-weight: 350;
  }


  
/* mediaQ en footer */
footer h3{
  font-size: 25px;
  border-top: #577BC1 2px solid ;
    border-bottom: #577BC1 2px solid ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-grid-contacto{
  grid-template-columns: repeat(1, 1fr);

}

.info-item p{
  font-size: 12px;
  margin: 0;
}
.info-item img {
  width: 22px;
  height: 22px;
  }
.footer-redes h3 {
  font-size: 20px;
   border-top: #577BC1 2px solid ;
    border-bottom: #577BC1 2px solid ;
    margin-top: 15px;
}
.redes-icons img {
  width: 30px;
  }


}
