@use "./variables" as*;

/* CSS pagina ESTADIO */

.seccion-estadio{
h1{
  color: #f9d342;
  border-bottom: #f9d342 2px solid;
  padding-bottom: 2%;
  padding-top: 2%;
margin: 15px;
font-size: 48px;
text-align: center;
}

h2{
  text-align: center;
  color: #577BC1;
  border-bottom: #577BC1 5px solid;
  font-size: 45px;
}

p{
  font-size: 20px;
  text-align: justify;
  color: #000957;
  }
}


.Informacion-especifica, .historia-estadio, .curiosidades-estadio {
 background-color: #eaf3ff;
  padding: 5%;
  margin: 5%;
  border-radius: 8px;
  border: #000957 15px double;
  }



 .curiosidades-estadio {
  li{
 font-size: 20px;
  text-align: justify;
list-style-type: circle;

  }
  
  }
