@use "../partials/variables" as*;

*{
  margin:0%;
  padding:0%;
}

header {
    background-color: #000957;
   
    .textos-header{
    display: flex;
    align-items: center;
    
    header img {
    background-color: #000957;
    width: 150px;
    height: auto;
    margin: 2% 2%;
    }
    
    .headerboca {
    background-color: #000957;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: white;
    font-weight: bold;
    padding: 1%;
    line-height: 1.2;
    margin-bottom: 0;
    } 
    }
    }

   .menu-navegacion {
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
padding: 1%;
margin: 1%;
background-color: #000957;

.menu-navegacion li {
  flex: 10px ;
  text-align: center;
}
.menu-navegacion a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  border: white 2px solid;
  margin: 3px;
}
  } 

  