@use "./variables" as*;

/* BODY HISTORIA */
/* div historia.html */

.pagina-historia {
  background-color: #000957;

  .titulohistoriah1 {
    color: #f9d342;
    border-bottom: 2px solid #f9d342;
    padding: 2% 0;
    margin: 15px;
    font-size: 68px;
    text-align: center;
  }

  #accordionFlushExample {
    padding: 2% 5%;

    .accordion-button {
      font-size: 1.5rem;
      text-transform: uppercase;

      &:not(.collapsed) {
        --bs-accordion-active-bg: #577bc1;
        --bs-accordion-active-color: #fff;
      }

      &.collapsed {
        font-weight: 600;
        border: 4px solid #577bc1;
        background-color: #f9d442b6;
        color: #000957;
      }
    }

    .accordion-body {
      h3 {
        color: #003366;
        font-size: 36px;
        text-align: center;
        border-bottom: 3px solid #f9d342;
        margin-bottom: 15px;
      }

      p {
        color: #003366;
        font-size: 18px;
        margin: 2% 5%;
      }
    }

    // Este h3 solo afecta los títulos dentro de .pagina-historia
    h3 {
      color: #f9d342;
      border-bottom: 2px solid #f9d342;
      padding: 2% 0;
      margin: 15px;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
    }
  }

  .historiasflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    .imagenhistoria {
      width: 280px;
      height: auto;
      border-radius: 6px;
    }
  }
}



