@use "./variables" as*;

  /*media para header  */
@media (max-width:500px){
  header {
    flex-direction: column;
    text-align: center;
    margin:0;

    img {
    width: 80px;
    height: auto;
    }
    }

    p{
  font-size: 28px;
  text-align: center;
  padding: 1%;

    }
      }

      
      
 /*menú de navegacion*/
 .menu-navegacion {
  flex-direction: column;
  align-items: stretch;
  margin: 0% 1%;
  padding: 1%;

 a {
  font-size: 12px;
  padding: 0;
  }
  
}

/* media para seccion1 index */
.titulo-presentacion{
  font-size: 50px;

  .seccion1cuerpo h2{
  font-size: 30px;
  font-weight: 600;
}
}

.texto-bienvenidaweb p{
  font-size: 12px;

}

/* media para seccion2 index */

.seccion2cuerpo{
 h3{
  font-size: 25px;
  border-top: wheat 2px solid ;
    border-bottom: wheat 2px solid ;
} 
.meses-grid {
  grid-template-columns: repeat(1, 1fr);
  margin: 0%;
  width: 100%;
  .columna-mes{
  padding: 5px;
  h4 {
  font-size: 20px;
  margin-top: 5px;
  }

  li {
font-size: 12px;
text-align: justify;
}
}
}
}

/* media para seccion3 index */
.seccion3cuerpo {
h3 {
  font-size: 25px;
  border-top: wheat 2px solid ;
  border-bottom: wheat 2px solid ;
  
}
.grid-canal {
  grid-template-columns: repeat(1, 1fr);

  .video-canal {
    iframe {
  width: 100%;
  height: 250px;
  padding: 2%;
  border: #f9d342 4px solid;
}
h3 {
  font-size: 16px;
  margin-top: 6px;
  text-align: justify;
 }

p {
  font-size: 14px;
  margin: 2.5px;
}

}
}
}

/* mediaQ en pagina Historia */
.pagina-historia{

.titulohistoriah1 {
  font-size: 2rem;
  
}
h3{
  font-size: 2rem;
  
}
#accordionFlushExample {
  padding: 1% 3%;

  .accordion-button:not(.collapsed),
  .accordion-button.collapsed {
  font-size: 0.8rem;
}

.imagenhistoria{
  width: 170px;
 
   }
.accordion-body {
h3{
font-size: 1.5rem;
   }

p{
font-size: 0.8rem;
   }
}
}
}
   /* mediaQ en pagina Estadio */

   .seccion-estadio{
   h1{
    font-size: 1.5rem;
    border-bottom: #f9d342 1px solid;
   }

   h2{
    font-size: 1.5rem;
    border-bottom: #577BC1 2px solid;
   }

 p{
  font-size: 14px;
  padding: 0%;
  margin: 1%;
   
  #palineacion{
  text-align: left;
 }
     
 }  
   }

   .curiosidades-estadio{
    ul {
    margin: 3%;
    padding: 0;

    li {
      font-size: 14px;
    }
  }
}

   /* mediaQ en Hinchada boca */

   .paginahinchada {
    
h1{
  font-size: 1.5rem;
  padding: 15px 15px;
  margin: 0% 3%;
}
h2{
  font-size: 1rem;
  padding: 7.5px 55px;
  margin: 0% 3%;
}
.sectionla12,
.sectionbocaenelmundo{
    margin: 0 5%;

h3{
  font-size: 20px;
    }

  .textoshinchada p{
  font-size: 14px;
  }
 }
 

.sectionbocaenelmundo h3{
 
   border-top: #f9d442 2px solid;
 }
}

   
   /* mediaQ pagina titulos */

   .titulo-estrellas{

   h1{
  font-size: 1.5rem;
  margin: 0% 3%;
  padding: 20px 10px;
}

.h2titulos{
  font-size: 20px;
  margin: 3% 3%;
  padding: 1%;
   border: #f9d342 2px solid;
}

.contenedor-principal1 {
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(6,auto);
grid-template-areas: "area1"
"area2"
"area3"
"area4"
"area5"
"area6";
gap: 10px;

 .seccion-categoria1,
    .seccion-categoria2,
    .seccion-categoria3,
    .seccion-categoria4,
    .seccion-categoria5,
    .seccion-categoria6,
    .seccion-categoria7,
    .seccion-categoria8,
    .seccion-categoria9,
    .seccion-categoria10 {
      border: #f8f9fa 3px solid;
} 

.categoria-titulo{
  font-size: 14px;
  border-bottom: #f9d342 2px solid;
}

.totales-titulo{
  font-size: 18px;
  border-bottom: #f9d342 2px solid;
 
}

.lista-titulos {
  font-size: 14px;
  font-weight: 350;
  }
}

.contenedor-principal2 {
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 10px;
  padding: 20px;
  margin-top: 0;
  padding-top: 0;

}

.contenedor-principal3 {
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,auto);
  gap: 20px;
  padding: 20px;
}
}

/* mediaQ en footer */

.footer{
h3{
  font-size: 25px;
  border-top: #577BC1 2px solid ;
    border-bottom: #577BC1 2px solid ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer-grid-contacto{
  grid-template-columns: repeat(1, 1fr);

.info-item {
p{
  font-size: 12px;
  margin: 0;
}
img {
  width: 22px;
  height: 22px;
  }
}
}

.footer-redes{

h3 {
  font-size: 20px;
   border-top: #577BC1 2px solid ;
    border-bottom: #577BC1 2px solid ;
    margin-top: 15px;
}
.redes-icons img {
  width: 30px;
  }
}
}
