@use "./variables" as*;

  /*media para header  */
@media (max-width:500px){
  header {
    

    .textos-header{
    display: flex;
    align-items: center;
  
    img {
    width: 80px;
    height: auto;
    margin-left: 30px;
    }
  }
    
    p{
  font-size: 24px;
  text-align: right;
  padding: 1%;

    }
  }

      

      
      
 /*menú de navegacion*/
 .menu-navegacion {
  flex-direction: column;
  align-items: stretch;
  margin: 0% 1%;
  padding: 1%;

 li{
  a{
  font-size: 12px;
  padding: 0;

 
  }

  
  
}
 }

/* media para seccion1 index */
.seccion1cuerpo {
h1{
  font-size: 50px;
}
h2{
  font-size: 30px;
  font-weight: 600;
}
}

.texto-bienvenidaweb {
p{
  font-size: 12px;

}
}
/* media para seccion2 index */

.seccion2cuerpo{
 h3{
  font-size: 18px;
  border-top: wheat 2px solid ;
  border-bottom: wheat 2px solid ;
  margin-bottom: 2%;
} 
.meses-grid {
  grid-template-columns: repeat(1, 1fr);
  margin: 2%;
  

  .columna-mes{
  padding: 5px;

  h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
  }

ul{
   li {
font-size: 12px;
text-align: justify;
}
}
}
}
}

/* media para seccion3 index */
.seccion3cuerpo {
h3 {
  font-size: 18px;
  border-top: wheat 2px solid ;
  border-bottom: wheat 2px solid ;
  
}
.grid-canal {
  grid-template-columns: repeat(1, 1fr);
  gap:18px;

  .video-canal {
  box-shadow: 0 2px 8px 2px $azulclaro;
    iframe {
  
  height: 200px;
  padding: 2%;
  border: $amarillo 2px solid;
}
h3 {
  font-size: 12px;
  margin-top: 6px;
  text-align: justify;
  border-bottom: $azulacordion 2px solid;
 }

p {
  font-size: 10px;
  margin-top: 5px;
}

}
}
}

/* mediaQ en pagina Historia */
.pagina-historia{

.titulohistoriah1 {
  font-size: 1.8rem;
  margin: 5¿px;
  padding: 0.5% 0;
  
  
}

#accordionFlushExample {
  padding: 1% 3%;

  .accordion-button:not(.collapsed),
  .accordion-button.collapsed {
  font-size: 0.8rem;
  padding: 2.5%;
}

.imagenhistoria{
  width: 170px;
 
   }
.accordion-body {
h3{
font-size: 1.5rem;
padding: 1% 0;
   }

p{
font-size: 0.8rem;
   }
ul{
  li{
    font-size: 0.8rem;
  }
}
}
}
}
   /* mediaQ en pagina Estadio */

   .seccion-estadio{
   h1{
    font-size: 1.5rem;
    border-bottom: $amarillo 1px solid;
   }

   h2{
    font-size: 1.5rem;
    border-bottom: $azulclaro 2px solid;
   }

 p{
  font-size: 12px;
  padding: 0%;
  margin: 1%;
 
  #palineacion {
  text-align: left;
 
  }
       
 }  
   

   .curiosidades-estadio{
    ul {
    margin: 3%;
    padding: 0;

    li {
      font-size: 12px;
    }
  }
}
.visitas-estadio {
  ul {
  li{
    font-size: 12px;
   }
  }
}
   }

   /* mediaQ en Hinchada boca */

   .paginahinchada {
    
h1{
  font-size: 1.5rem;
  padding: 15px 15px;
  margin: 1% 3%;
  border: $amarillo 2px solid;
}
h2{
  font-size: 1rem;
  padding: 7.5px 55px;
  margin: 1% 3%;
  border: $amarillo 2px solid;
}
p{
  font-size: 12px;
  margin: 1%;
  }

.sectionla12,
.sectionbocaenelmundo{
    margin: 0 5%;

h3{
  font-size: 20px;
  margin: 2.5%;
    }

 }
 

.sectionbocaenelmundo {
h3{
 
   border-top: $amarillo 2px solid;
   padding-top: 2%;
 }
}
   }

   
   /* mediaQ pagina titulos */
.pagina-titulos {

   h1{
  font-size: 1.5rem;
  margin: 0% 3%;
  padding: 20px 10px;
}

h2{
  font-size: 20px;
  margin: 2% 3%;
  padding: 1%;
   border: $amarillo 2px solid;
}

.contenedor-principal1,
.contenedor-principal2,
.contenedor-principal3 { 
 

.categoria-titulo{
  font-size: 14px;
  border-bottom: $amarillo 2px solid;
}

.totales-titulo{
  font-size: 18px;
  border-bottom: $amarillo 2px solid;
 
}

.lista-titulos {
  font-size: 14px;
  font-weight: 350;

  }
}

.contenedor-principal1 {
  @include grid(repeat(1,1fr),repeat(6,auto),"area1""area2""area3""area4""area5""area6");
  padding-top: 0px;
    }

.contenedor-principal2 {
  @include grid(repeat(1,1fr),repeat(2,auto),null); 
  padding-top: 0px;
  
  }

.contenedor-principal3 {
  @include grid(repeat(1,1fr),repeat(1,auto),null);
  padding-top: 0px;
  
}

 .seccion-categoria1,
    .seccion-categoria2,
    .seccion-categoria3,
    .seccion-categoria4,
    .seccion-categoria5,
    .seccion-categoria6,
    .seccion-categoria7,
    .seccion-categoria8,
    .seccion-categoria9,
    .seccion-categoria10 {
      border: $blanco 3px solid;
} 


}






/* mediaQ en footer */

footer{

  padding: 10px 10px;

h3{
  font-size: 15px;
  border-top: $azulclaro 2px solid ;
    border-bottom: $azulclaro 2px solid ;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-grid-contacto{
   grid-template-columns: repeat(1, 1fr);
   

.info-item{
  margin: 0%;
  padding: 0% 6%;

p{
  font-size: 10px;
  margin: 2%;
}

img {
  width: 18px;
  height: 18px;
  }
}
}
.footer-mapa {
  height: 100px;
}
.footer-redes{

h3 {
  font-size: 15px;
   border-top: $azulclaro 2px solid ;
    border-bottom: $azulclaro 2px solid ;
    margin-top: 15px;
}
.redes-icons  {
  img {
  width: 20px;
  }
}
}
.footer-copy {
  font-size: 8px;
}


}

}
