@use "./variables" as*;

/* BODY HOME */
/* section 1 del cuerpo home */
.seccion1cuerpo{
        background-image: url(../medios/imagencentralhome2.png);
        background-position:center ;
        background-size: cover;
        margin: 0;
        border: #000957 12px solid;
        
        .titulo-presentacion{
    color: #000957;
    font-size: 70px;
    text-align: center;
    margin: 2%;
    }

        .seccion1cuerpo h2{
    color: #000957;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 2%;
        }
        }

        .texto-bienvenidaweb p{
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 2% 10%;


}