@use "./variables" as*;

/* section 3 cuerpo home*/

.seccion3cuerpo {
  h3 {
    border-top: wheat 5px solid;
    border-bottom: wheat 5px solid;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: $amarillo;
    margin-top: 5%;
  }

  .grid-canal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    margin: 15px;

    .video-canal {
      display: grid;
      justify-items: center;
      background: $blanco;
      padding: 5%;
      border-radius: 12px;
      box-shadow: 0 5px 25px 5px $azulclaro;

      iframe {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        border: $amarillo 7px solid;
        padding: 5px;
      }

      h3 {
        font-size: 25px;
        margin-top: 12px;
        color: $azulacordion;
        text-transform: uppercase;
        border-bottom: $azulacordion 4px solid;
        text-align: justify;
        border-top: none;
      }

      p {
        font-size: 20px;
        margin: 0;
        color: $azulacordion;
        text-align: justify;
        margin-top: 10px;
      }
    }
  }
}