@use "../utilidades/variables" as*;

/* footer */

footer {
  background-color: $azulOscuro;
  padding: 40px 20px;
  color: $blanco;
  font-family: $font;

 h3{
    border-top: $azulclaro 3px solid ;
    border-bottom: $azulclaro 3px solid ;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 45px;
}


/* contacto */

.footer-grid-contacto{
display: grid;
grid-template-columns: repeat(2, 1fr);

.info-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0% 10%;

  p{
    font-size: 16px;
    color: $blanco;
    margin: 10px;
}
img {
  width: 32px;
  height: 32px;
  
}

}

}

.footer-mapa {
  width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  display: block;

}

/* redes sociales */
.footer-redes{
h3 {
    border-top: $azulclaro 3px solid ;
    border-bottom: $azulclaro 3px solid ;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 45px;
}
.redes-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

  img {
  width: 35px;
  }

}

}

.footer-copy {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: $blanco;
}

}